
@{
    Layout = "~/views/shared/_layout.cshtml";
}


<div class="btn-group mt-3">

    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Get Reports
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="/Report/ColorReport">Sales by Color</a>
        <a class="dropdown-item" href="/Report/VehicleTypeReport">Sales by Vehicle Type</a>
        <a class="dropdown-item" href="/Report/ManufacturerReport">Sales by Manufacturer</a>
        <a class="dropdown-item" href="/Report/GrossCustomerIncomeReport">Gross Customer Income</a>
        <a class="dropdown-item" href="/Report/RepairReport">Repair Reports</a>
        <a class="dropdown-item" href="/Report/BelowCostSaleReport">Below Cost Sales</a>
        <a class="dropdown-item" href="/Report/AverageInventoryTimeReport">View Average Inventory Time</a>
        <a class="dropdown-item" href="/Report/PartReport">Parts Statistics</a>
        <a class="dropdown-item" href="/Report/MonthlySaleReport">Monthly Sales</a>
    </div>
</div>

